:root {

    /* --color-taupe: #463f3a;
    --color-battleship-grey: #8a817c;
    --color-silver: #bcb8b1;
    --color-isabeline: #f4f3ee;
    --color-melon: #e0afa0;

    --color-primary: var(--color-taupe);
    --color-secondary: var(--color-battleship-grey);
    --color-tertiary: var(--color-silver);
    --color-accent: var(--color-isabeline);
    --color-text: var(--color-melon); */

    --color-dark: #161a1d;
    --color-darkest-red: #660708;
    --color-pure-red: #ba181b;
    --color-light-red: #e5383b;
    --color-dark-grey: #b1a7a6;
    --color-light-grey: #d3d3d3;
    --color-light-white: #f5f3f4;

    --text-size-tiny: 10px;
    --text-size-small: 12px;
    --text-size-normal: 16px;
    --text-size-large: 24px;
    --text-size-xlarge: 36px;

    --border-radius-small: 4px;

    --text-transform: lowercase;

    --text-font-family: "Montserrat", sans-serif;

    --left-padding: 45px;   

}

* {
    font-family: var(--text-font-family);
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: var(--color-pure-red);
    background-color: var(--color-secondary);
    text-transform: var(--text-transform);
    text-align: left;
    padding-left: var(--left-padding);
}

h2 {
    font-size: 18px;
    color: var(--color-light-grey);
    background-color: var(--color-secondary);
    text-transform: var(--text-transform);
    text-align: left;
    padding-left: var(--left-padding);

}


body{
    display: grid;  
    grid-template-areas: 
    "header" "help-text" "help-text"
    "file-section" "file-section" "file-section"
    "shift-section" "delay-section" "lfo-section"
    "ouput-section" "ouput-section" "ouput-section";

}


/* define section1 grid using grid-templates */

#title-section{
    display: grid;
    grid-area: "header";
    grid-template-columns: 1fr ;
    grid-template-rows: 65px 40px;
    background-color: var(--color-dark);

}

#file-section {
    display: grid;
    grid-area: "file-section";
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    padding: 5px;
    background-color: var(--color-dark); 
}

/* #toggle_container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    padding: 10px;
} */

#waveform {
    grid-area: "waveform";
    width: 100%;
    height: 100%;
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-small);
    
}

#parameters-section {
    display: grid;
    grid-area: "parameters-section";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    padding: var(--left-padding);
    background-color: var(--color-dark);
}

#shift-parent {
    display: grid;
    grid-area: "shift-section";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 10px;
    background-color: var(--color-light-grey);    
    border-radius: var(--border-radius-small);
}

#delay-parent {
    display: grid;
    grid-area: "delay-section";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-small);
}

#lfo-parent {
    display: grid;
    grid-area: "lfo-section";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-small);
}

#output-section {
    display: grid;
    grid-area: "output-section";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--color-dark);
}

#output{
    color: var(--color-light-grey);
}

#wetdry{
    color: var(--color-light-grey);
}

#preset-label{
    color: var(--color-light-grey);
}

#print-button {
    font-size: var(--text-size-small);
    font-weight: bold;
    color: var(--color-dark);
    background-color: var(--color-light-red);
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    text-align: center;
    
    
}


#shift-text {
    font-size: var(--text-size-small);
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--color-primary);
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    text-align: center;
    
}

#play-text {
    font-size: var(--text-size-small);
    font-weight: bold;
    color: var(--color-text);
    background-color: var(--color-primary);
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    text-align: center;
    
}

