:root {

    /* --color-taupe: #463f3a;
    --color-battleship-grey: #8a817c;
    --color-silver: #bcb8b1;
    --color-isabeline: #f4f3ee;
    --color-melon: #e0afa0;

    --color-primary: var(--color-taupe);
    --color-secondary: var(--color-battleship-grey);
    --color-tertiary: var(--color-silver);
    --color-accent: var(--color-isabeline);
    --color-text: var(--color-melon); */

    --color-dark: #161a1d;
    --color-dark-transparent: rgba(22, 26, 29, 0.8);
    --color-darkest-red: #660708;
    --color-pure-red: #ba181b;
    --color-light-red: #e5383b;
    --color-dark-grey: #b1a7a6;
    --color-light-grey: #d3d3d3;
    --color-light-white: #f5f3f4;

    --text-size-tiny: 10px;
    --text-size-small: 12px;
    --text-size-normal: 16px;
    --text-size-large: 24px;
    --text-size-xlarge: 36px;

    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --boarder-hover-width: 4px;

    --output-button-height: 35px;

    --text-transform: lowercase;

    --text-font-family: "Montserrat", sans-serif;

    --side-padding: 45px;   
    --vertical-padding: 10px;
}

* {
    font-family: var(--text-font-family);
    /* background-color: var(--color-dark); */
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: var(--color-light-red);
    background-color: var(--color-secondary);
    text-transform: var(--text-transform);
    text-align: left;
    padding-left: var(--side-padding);
}

h2 {
    font-size: 18px;
    color: var(--color-light-grey);
    background-color: var(--color-secondary);
    text-transform: var(--text-transform);
    text-align: left;
    padding-left: var(--side-padding);

}

input[type="number"]{
    font-family: var(--text-font-family);
    border: none;
    border-radius: var(--border-radius-small);
    text-align: right;
    background-color: var(--color-light-white);
    color: var(--color-dark); 
    align-self: end;
    justify-self: end;
}

input[type="range"]{
    grid-row: 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-grey);
    /* border-radius: var(--border-radius-small);
    color: var(--color-dark); */
    align-self: center;
    justify-self: center;
}

label{

    /* padding: 5px; */
    align-self: start;
}

.slider-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.slider-label{
    align-self: end;
    justify-self: start;
}

.slider-display{
    align-self: center;
    justify-self: center;
}


body{
    display: grid;  
    background-color: var(--color-dark);

}

#title-section{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 65px 40px;
    background-color: var(--color-dark);

}

#input-section {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 100px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding); 
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    grid-gap: 10px;
    background-color: var(--color-dark); 
}

.toggle-container {
    display: grid;  
    width: 100%;
    height: 100%;
}

#mic{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}

#mic-button{
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-large);
    width: 100%;
    height: 50px;       
    color: var(--color-dark);
    background-color: var(--color-light-red);
    border: none;
    border-radius: var(--border-radius-small);
    align-self: center;
}

#mic-button[data-state="on"]{
    background-color: var(--color-light-red);
}

#mic-button[data-state="off"]{
    background-color: var(--color-light-grey);
}

#play-button{
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-large);
    width: 100%;
    height: var(--output-button-height);       
    color: var(--color-dark);
    background-color: var(--color-light-red);
    border: none;
    border-radius: var(--border-radius-small);
    align-self: center;
}

#play-button[data-state="on"]{
    background-color: var(--color-light-red);
}

#play-button[data-state="off"]{
    background-color: var(--color-light-grey);
}

#loop-button{
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-large);
    width: 100%;
    height: var(--output-button-height);   
    color: var(--color-dark);
    background-color: var(--color-light-red);
    border: none;
    border-radius: var(--border-radius-small);
    align-self: center;
}

#loop-button[data-state="on"]{
    background-color: var(--color-light-red);
}

#loop-button[data-state="off"]{
    background-color: var(--color-light-grey);
}

#waveform {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3; 
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-small);   
    padding: var(--boarder-hover-width);
}
  
#waveform[data-dragging="true"] {
    border-color: var(--color-light-red);
    border-width: var(--boarder-hover-width);
    border-style: solid;
    padding: 0;
}   

#waveform[data-dragging="false"] {
    border-color: var(--color-light-grey);
    border: none;
    padding: var(--boarder-hover-width);
}

#waveform[data-loading="true"] {
    background-color: var(--color-light-red);

}

#waveform[data-loading="false"] {
    background-color: var(--color-light-grey);
}

#waveform-overlay{
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-transparent);
    border-radius: var(--border-radius-small);
    padding: 10px;

}

#parameters-section {
    display: grid;
    grid-area: "parameters-section";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: 20px;
    padding-bottom: var(--vertical-padding);
    background-color: var(--color-dark);
    
}

.parameter-label {
    
    color: var(--color-dark);
    font-size: var(--text-size-large);
    font-weight: bold;
    align-self: end;
    justify-self: start;
    padding-left: 10px;
}

.parameter-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 10px;
    background-color: var(--color-light-grey);    
    border-radius: var(--border-radius-small);
    /* box-shadow: 5px 5px var(--border-radius-small) 5px var(--color-light-white); */
}

#output-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    background-color: var(--color-dark);
}

#playback-container{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;

}

#record-button-container{
    display: grid;
    
    align-content: center;
    justify-content: center;
}

#record-button{
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-large);
    width: 100%;
    height: var(--output-button-height);    
    color: var(--color-dark);
    background-color: var(--color-light-grey);
    border: none;
    border-radius: var(--border-radius-small);
}

#record-button[data-recording="true"]{
    background-color: var(--color-light-red);
}   

#record-button[data-recording="false"]{
    background-color: var(--color-light-grey);
}

#record-section{
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--side-padding);
}

#record-section-title{
    color: var(--color-light-grey);
    font-weight: bold;
    padding-bottom: var(--vertical-padding);
}

.recording-container{
    display: grid;
    grid-template-columns: 5fr 50px 50px; 
    grid-template-rows: 1fr 1fr;
    padding-top: var(--vertical-padding);
    padding-bottom: var(--vertical-padding);
    padding-left: 5px;
    margin-bottom: var(--vertical-padding);
    background-color: var(--color-light-grey);
    border-radius: var(--border-radius-small);
}

#output{
    color: var(--color-light-grey);
    grid-row: 2 / 3;

}

#output-slider-display{
    color: var(--color-dark);
    background-color: var(--color-light-grey);
}   

#wetdry{
    color: var(--color-light-grey);
    grid-row: 2 / 3;
}

#wetdry-slider-display{
    color: var(--color-dark);
    background-color: var(--color-light-grey);
}   


#preset-label{
    color: var(--color-light-grey);
}

.preset-select-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-row: 2/3;
    grid-column: 1 /2;
    padding-right: 35px;
}

#preset-label{
    grid-column: 1/ 2;
    padding-top: var(--vertical-padding);
}

#preset-select{
    color: var(--color-dark);
    background-color: var(--color-light-grey);
    grid-column: 2 / 3;
    height: 45%;
    align-content: first baseline;
}



.recorded-play-button{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-small);
    width: 80%;
    height: 80%;   
    color: var(--color-dark);
    background-color: var(--color-light-red);
    border: none;
    border-radius: var(--border-radius-small);
    align-self: center;
    justify-self: center;
    align-content: center;
    
}

.recorded-download-button{
    display: grid;
    grid-column: 2 / 4; 
    grid-row: 2 / 3;
    font-family: var(--text-font-family);
    font-style: bold;
    font-size: var(--text-size-small);
    width: 80%;
    height: 80%;   
    color: var(--color-dark);
    background-color: var(--color-light-red);
    border: none;
    border-radius: var(--border-radius-small);
    align-self: center;
    justify-self: center;
    align-content: center;

}

.recording-container div:first-child{
    grid-row: 1 / 3;

}